!!!
%html(lang="ru" ng-app = "garland.landing")
  %head
    %title Girland
    %meta(charset = "utf-8")
    %meta(content = "width=device-width, initial-scale=1.0" name = "viewport")
    %meta(content = "SKYPE_TOOLBAR_PARSER_COMPATIBLE" name = "SKYPE_TOOLBAR")
    %meta(content = "yes" name = "apple-mobile-web-app-capable")
    %meta(content = "telephone=no" name = "format-detection")
    %meta(content = "#{@settings.to_json}" name = "settings")

    = stylesheet_link_tag    'landing', media: 'all'
    = javascript_include_tag 'landing'
    = csrf_meta_tags

    /[if lt IE 9]
      <script type="text/javascript" src="js/vendor/html5shiv.js"></script>

  %body.h_100p

    .wrapper
      .slider_holder(ng-show = "g.state.current.name == 'index'")
        .mainSlider.swiper-container.main_slider
          .swiper_controls
            .section_inner
              #main_slider_next.swiper-button-next
              #main_slider_prev.swiper-button-prev
          .swiper-wrapper.clearfix
            - SliderImage.all.each do |s_image|
              .swiper-slide
                %img{:src => "/uploads/#{s_image.file}"}/
          .slide_content
            .section_inner.text_center
              .slide_i_block
                %h2.slide_i_caption.fz_30 А Р Е Н Д А
                %p.fz_72 Ретро
                %p.fz_42 гирлянды
                %p.fz_37 с лампами
                %p.fz_30 накаливания
        %a.btn_v3.order_now_btn.white_btn{:href => "#"} заказать сейчас

      .slider_holder(ng-show = "g.state.current.name == 'conditions'")
        .hero_holder
          .garland_lamp{"data-stellar-offset-parent" => "true", "data-stellar-ratio" => "2"}
            %img{:src => "i/big_lamp.png"}/
          .hero_inner.text_center
            .gl_table
              .gl_table_cell
                .section_inner
                  .any_questions аренда
                  .why_rockstars условия аренды гирлянд
        %a.btn_v3.order_now_btn.white_btn{:href => "#"} скачать договор (pdf)

      .hero_holder(ng-show = "g.state.current.name == 'thanks'")
        .hero_inner.text_center
          .gl_table
            .gl_table_cell
              .section_inner
                .any_questions Заказ успешно отправлен!
                .why_rockstars Успешный заказ!
                .hero_text_block
                  %p Пару слов об успешном заказе!

      .hero_holder(ng-show = "g.state.current.name == 'benefits'")
        .hero_inner.text_center
          .gl_table
            .gl_table_cell
              .section_inner
                .any_questions остались вопросы?
                .why_rockstars ПОЧЕМУ МЫ САМЫЕ КРУТЫЕ
                .hero_text_block
                  %p Конечно мы не изобрели гирлянды с лампочками, но совершенно точно производить и сдавать в аренду начали первыми. Поэтому, опираясь на свой опыт, и протестировав гирлянды конкурентов, — можем подсказать на что обратить внимание, чтобы...
                  %p А, да ладно! По правде, так: Чуваки посмотрели как мы морочимся, упростили технологию производства, выкинув этапы, которые на их взгляд лишние и понадеялись, что это не отразится на надежности.
                  %p Так что мы хотя бы предупредим вас, дальше сами примете решение.
      %div(ui-view)
